#debugConsole {
    width: 90%;
    background-color: #000000a8;
    overflow-y: auto;
    border-radius: var(--light-border-radius);
    padding: .5rem;
    border: solid .1rem #ffffff50;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #0f0;
}